// import icon
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css'

body, .page {
  background-size: cover;
  // padding-bottom: 3.75rem;
}

.content__page-bottom, .blog-home {
  padding-bottom: 3.75rem;
}

body .home {
  min-height: auto;
  padding-top: 9.375rem;
}

body .home .hero {
  display: block;
  text-align: center;
}

body.theme-light, body.theme-light .page {
    background: url("https://cdn.iycx.top/higurashi/bg_transform.jpg") no-repeat center center fixed !important;
}

body.theme-dark, body.theme-dark .page {
    background-image: url(https://cdn.iycx.top/higurashi/bg_transform_night.jpg) !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat-x: no-repeat !important;
    background-repeat-y: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #1e1e1e;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  right: 0;
  left: 0;
}