* {
  cursor: url('//cdn.iycx.top/higurashi/chopper.cur'), default;
}

.vp-hero-info {
  flex-direction: column;
  margin-top: -10em;
  
  .vp-hero-action {
    border: 2px solid var(--theme-color);
  }
  
  .vp-hero-action.default {
    color: var(--theme-color);
  }
}

.vp-page, .blog-page-wrapper {
  padding-bottom: 2.75rem;
  
  @media (max-width: 1190px) {
    padding-bottom: 5rem;
  }
}

.vp-page.vp-blog {
  padding-top: 5rem !important;
}

.vp-project-home, .vp-page, .vp-blog-mask {
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-position: center !important;
}

html[data-theme="light"] {
  .vp-project-home, .vp-blog-mask {
    background-image: url(https://cdn.iycx.top/higurashi/bg.jpg) !important;
  }

  .vp-page {
    background-image: url(https://cdn.iycx.top/higurashi/bg_transform.jpg) !important;
  }
  
  .vp-hero-info .vp-hero-action.default {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .vp-hero-info .vp-hero-action.default:hover {
    background: rgba(255, 255, 255, 0.85);
  }
}

html[data-theme="dark"] {
  .vp-project-home, .vp-blog-mask {
    background-image: url(https://cdn.iycx.top/higurashi/bg_night.jpg) !important;
  }

  .vp-page {
    background-image: url(https://cdn.iycx.top/higurashi/bg_transform_night.jpg) !important;
  }
  
  .vp-hero-info .vp-hero-action.default {
    background: rgba(25, 25, 25, 0.8);
  }
  
  .vp-hero-info .vp-hero-action.default:hover {
    background: rgba(50, 50, 50, 0.8);
  }
}

.vp-blog-hero-title {
  font-weight: 300;
  text-shadow: 0px 2px 5px #000, 0px -2px 5px #000, 2px 0px 5px #000, -2px 0px 5px #000;
  /* color: var(--white);
  text-shadow: 0px 2px 5px var(--black), 0px -2px 5px var(--black), 2px 0px 5px var(--black), -2px 0px 5px var(--black); */
}

.vp-footer-wrapper, .vp-sidebar {
  background: var(--navbar-bg-color);
  box-shadow: 2px 0 8px var(--card-shadow);
  -webkit-backdrop-filter: saturate(150%) blur(12px);
  backdrop-filter: saturate(150%) blur(12px);
}

.vp-footer-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.vp-sidebar {
  padding-left: 0;
  
  @media (max-width: 90 - 0.0625rem) {
    z-index: 999;
  }
}

@media (min-width: 60rem) {
  .search-pro-button {
    border: 1px solid var(--vp-brcd) !important;
  }

  .search-pro-button:hover {
    border: 1px solid var(--vp-tc) !important;
  }
}

/*
.vp-footer-wrapper {
  line-height: 0.219rem;
}
*/
