/*
// import icon
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css'
@require '~vuepress-plugin-tabs/dist/themes/default.styl'
*/

* {
  cursor: url('//cdn.iycx.top/higurashi/chopper.cur'), default;
}

.hero-info-wrapper{
  flex-direction: column;
}

html[data-theme="light"] {
  .home{
    background: url("https://cdn.iycx.top/higurashi/bg.jpg") no-repeat center center fixed !important;
  }

  .page{
    background-image: url(https://cdn.iycx.top/higurashi/bg_transform.jpg)!important;
    background-position-x: center!important;
    background-position-y: center!important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed!important;
    background-color: #1e1e1e;
    .blog-hero{
      .mask{
        background: url("https://cdn.iycx.top/higurashi/bg.jpg") no-repeat center center fixed !important;
      }
    }
  }
}

html[data-theme="dark"] {
  .home{
    background-image: url(https://cdn.iycx.top/higurashi/bg_night.jpg) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-color: #1e1e1e;
  }
  .page{
    background-image: url(https://cdn.iycx.top/higurashi/bg_night.jpg)!important;
    background-size: cover !important;
    background-attachment: fixed!important;
    background-repeat: no-repeat;
    background-color: #1e1e1e;
    .blog-hero{
      .mask{
      background: url("https://cdn.iycx.top/higurashi/bg_night.jpg") no-repeat center center fixed !important;
    }
    }
  }

}

.sidebar{
  padding-left: 0;
}

// .navbar{
//   height: 0.6rem;
//   .logo{
//     height: 0.35rem;
//     vertical-align:baseline;
//   }
// }
/*
body, .page {
  background-size: cover;
}

.content__page-bottom, .blog-page-wrapper {
  padding-bottom: 3.75rem !important;
}

body .home {
  min-height: auto;
  height: calc(100vh - 9.375rem);
  max-width: unset !important;
  padding: 9.375rem 0 0;
}

@media (min-width: 1025px) {
  .home .hero img {
    margin: 0 auto !important;
    max-width: 960px !important;
  }
}

@media (max-width: 959px) {
  .hero-logo {
    width: 100%;
  }
}

body .home .hero {
  display: block;
  text-align: center;
}

.home .hero .action-button {
  background-color: rgba(255, 255, 255, 0.75);
}

body.theme-light, body.theme-light .page {
  background: url("https://cdn.iycx.top/higurashi/bg_transform.jpg") no-repeat center center fixed !important;
}

body.theme-dark, body.theme-dark .page {
  background-image: url(https://cdn.iycx.top/higurashi/bg_transform_night.jpg) !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-repeat-x: no-repeat !important;
  background-repeat-y: no-repeat !important;
  background-attachment: fixed !important;
  background-color: #1e1e1e;
}

body.theme-light .page.blog .blog-hero .mask, body.theme-light .home {
  background: url("https://cdn.iycx.top/higurashi/bg.jpg") no-repeat center center fixed !important;
}

body.theme-dark .page.blog .blog-hero .mask, body.theme-dark .home {
  background: url("https://cdn.iycx.top/higurashi/bg_night.jpg") no-repeat center center fixed !important;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.page.blog {
  padding-top: 5rem !important;
}

.blog-hero h1 {
  text-shadow: 0px 2px 5px #000, 0px -2px 5px #000, 2px 0px 5px #000, -2px 0px 5px #000;
}

.footer-wrapper {
  background: var(--bgcolor-blur) !important;
  box-shadow: 2px 0 8px var(--card-shadow-color);
  -webkit-backdrop-filter: saturate(200%) blur(20px);
  backdrop-filter: saturate(200%) blur(20px);
}
*/